@model FPTBook.Models.Category

@{
    ViewData["Title"] = "Details Category";
    Layout = "_AdminLayout";
}
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
        <ul class="nav menu">
            <li class=""><a href="/Users/Index"><em class="fa fa-dashboard">&nbsp;</em> Manage User</a></li>
            <li class="active"><a href="/Categories/Index"><em class="fa fa-dashboard">&nbsp;</em> Manage Category</a>
            </li>
            <br><br><br><br><br><br><br><br>

            <li><a href="login.html"><em class="fa fa-power-off">&nbsp;</em> Logout</a></li>
        </ul>
    </div>
</nav>
<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
    <h1>Details</h1>

    <div>
        <h4>Category</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Status)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Status)
            </dd>
        </dl>
    </div>
    <div>
        <a asp-action="Index" type="button" class="btn btn-warning">Back to List</a>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
        <a asp-action="Edit" asp-route-id="@Model.Id"><button type="button" class="btn btn-success"><span
                    class="material-symbols-outlined"> edit</span></button></a>
    </div>
</div>
