@model FPTBook.Models.Book
@{
    ViewData["Title"] = "Detail";
    int temp = 0;
}
<section class="bg0 p-t-80 p-b-80">
    <div class="container">
        <div class="row p-b-20">
            <div class="container">
                <div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
                    <div class="row">
                        <div class="col-md-6 col-lg-7 p-b-30">
                            <div class="p-l-25 p-r-30 p-lr-0-lg">
                                <div class="wrap-slick3 flex-sb flex-w">
                                    <div class="slick3 gallery-lb">
                                        <div class="item-slick3" data-thumb="~/uploads/@Html.DisplayFor(model => model.Poster)">
                                            <div class="wrap-pic-w pos-relative">
                                                <img src="~/uploads/@Html.DisplayFor(model => model.Poster)" alt="IMG-PRODUCT">
                                                <a class="flex-c-m size-108 how-pos1 bor0 fs-16 cl10 bg0 hov-btn3 trans-04"
                                                    href="~/uploads/@Html.DisplayFor(model => model.Poster)">
                                                    <i class="fa fa-expand"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-lg-5 p-b-30">
                            <div class="p-r-50 p-t-5 p-lr-0-lg">
                                <h4 class="mtext-105 cl2 js-name-detail p-b-14">
                                    @Html.DisplayFor(model => model.Title) <br>
                                </h4>
                                <span class="mtext-106 cl2">
                                    @Html.DisplayNameFor(model => model.Author): @Html.DisplayFor(model => model.Author.Name) <br>
                                </span>
                                <span class="mtext-106 cl2">
                                    @Html.DisplayNameFor(model => model.Publisher): @Html.DisplayFor(model => model.Publisher.Name) <br>
                                </span>                              
                                <span class="mtext-106 cl2">
                                    @Html.DisplayNameFor(model => model.Category): @Html.DisplayFor(model => model.Category.Name) <br>
                                </span>
                                <span class="mtext-106 cl2">
                                    @Html.DisplayNameFor(model => model.ReleaseDate): @Html.DisplayFor(model => model.ReleaseDate) <br>
                                </span>
                                <span class="mtext-106 cl2">
                                    @Html.DisplayNameFor(model => model.Price): $@Html.DisplayFor(model => model.Price) <br>
                                </span>
                                <span class="mtext-106 cl2">
                                    @Html.DisplayNameFor(model => model.Description): @Html.DisplayFor(model => model.Description) <br>
                                </span>
                                <div class="p-t-33">                              
                                    <div class="flex-w flex-r-m p-b-10">
                                        <div class="size-204 flex-w flex-m respon6-next">
                                            <form asp-action="AddBook" method="post">
                                                <input type="hidden" name="id" value="@Model.Id" />
                                                <input type="hidden" name="name" value="@Model.Title" />
                                                <input type="hidden" name="poster" value="@Model.Poster" />
                                                <input type="hidden" name="author" value="@Model.Author.Name" />
                                                <input type="hidden" name="price" value="@Model.Price" />
                                                <div class="wrap-num-product flex-w m-r-20 m-tb-10">
                                                    <div class="btn-num-product-down cl8 hov-btn3 trans-04 flex-c-m">
                                                        <i class="fs-16 zmdi zmdi-minus"></i>
                                                    </div>
                                                    <input class="mtext-104 cl3 txt-center num-product" type="number"
                                                        name="quantity" min="1" max="10" value="1">
                                                    <div class="btn-num-product-up cl8 hov-btn3 trans-04 flex-c-m">
                                                        <i class="fs-16 zmdi zmdi-plus"></i>
                                                    </div>
                                                </div>
                                                <input class="flex-c-m stext-101 cl0 size-101 bg1 bor1 hov-btn1 p-lr-15 trans-04 js-addcart-detail"
                                                    type="submit" value="Add to Cart">
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
