@model IEnumerable<FPTBook.Models.Book>
@{
	ViewData["Title"] = "Home Page";
}

<!-- Slider -->
<section class="section-slide bg0 p-t-120 p-b-20">
	<div class="wrap-slick1">
	</div>
</section>
<!-- Product -->
<section class="bg0 p-t-23 p-b-140">
	<div class="container">
		<div class="p-b-10">
			<h3 class="ltext-103 cl5">
				Product Overview
			</h3>
		</div>

		<div class="flex-w flex-sb-m p-b-52">
			<div class="flex-w flex-l-m filter-tope-group m-tb-10">
				<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5 how-active1" data-filter="*">
					All Books
				</button>
				@foreach (var item in Model.Select(x => x.Category).Distinct())
				{
					string fillter = "." + item.Name;
					<button class="stext-106 cl6 hov1 bor3 trans-04 m-r-32 m-tb-5" data-filter="@fillter">
						@Html.DisplayFor(modelItem => item.Name)
					</button>
				}
			</div>

			<div class="flex-w flex-c-m m-tb-10">
				<div class="flex-c-m stext-106 cl6 size-104 bor4 pointer hov-btn3 trans-04 m-r-8 m-tb-4 js-show-filter">
					<i class="icon-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-filter-list"></i>
					<i class="icon-close-filter cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Filter
				</div>
				<div class="flex-c-m stext-106 cl6 size-105 bor4 pointer hov-btn3 trans-04 m-tb-4 js-show-search">
					<i class="icon-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-search"></i>
					<i class="icon-close-search cl2 m-r-6 fs-15 trans-04 zmdi zmdi-close dis-none"></i>
					Search
				</div>
			</div>

			<!-- Filter -->
			<div class="dis-none panel-filter w-full p-t-10">
				<div class="wrap-filter flex-w bg6 w-full p-lr-40 p-t-27 p-lr-15-sm">
					<div class="filter-col1 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Sort By Author
						</div>

						<ul class="filter-tope-group">
							<li class="p-b-6">
								<button class="filter-link stext-106 trans-04" data-filter="*">
									All Authors
								</button>
							</li>
							@foreach (var item in Model.Select(x => x.Author).Distinct())
							{
								string author = "." + item.Name;
								string fillter = String.Concat(author.Where(c => !Char.IsWhiteSpace(c)));
								<li class="p-b-6">
									<button class="filter-link stext-106 trans-04" data-filter="@fillter">
										@Html.DisplayFor(modelItem => item.Name)
									</button>
								</li>
							}
						</ul>
					</div>

					<div class="filter-col2 p-r-15 p-b-27">
						<div class="mtext-102 cl2 p-b-15">
							Sort By Publisher
						</div>

						<ul class="filter-tope-group">
							<li class="p-b-6">
								<button class="filter-link stext-106 trans-04" data-filter="*">
									All Publishers
								</button>
							</li>
							@foreach (var item in Model.Select(x => x.Publisher).Distinct())
							{
								string publisher = "." + item.Name;
								string fillter = String.Concat(publisher.Where(c => !Char.IsWhiteSpace(c)));
								<li class="p-b-6">
									<button class="filter-link stext-106 trans-04" data-filter="@fillter">
										@Html.DisplayFor(modelItem => item.Name)
									</button>
								</li>
							}
						</ul>
					</div>
				</div>
			</div>

			<!-- Search product -->
			<div class="dis-none panel-search w-full p-t-10 p-b-15">
				<form asp-controller="Home" asp-action="Index" method="get">
					<div class="bor8 dis-flex p-l-15">
						<button class="size-113 flex-c-m fs-16 cl2 hov-cl1 trans-04" type="submit">
							<i class="zmdi zmdi-search"></i>
						</button>

						<input class="mtext-107 cl2 size-114 plh2 p-r-15" type="text" name="SearchString"
							placeholder="Search">
					</div>
				</form>
			</div>

		</div>
		<div class="row isotope-grid">
			@foreach (var item in Model)
			{
				string fillterCategory = item.Category.Name;
				string fillterAuthor = String.Concat(item.Author.Name.Where(c => !Char.IsWhiteSpace(c)));
				string fillterPublisher = String.Concat(item.Publisher.Name.Where(c => !Char.IsWhiteSpace(c)));
				<div
				class="col-sm-6 col-md-4 col-lg-3 p-b-35 isotope-item @fillterCategory @fillterAuthor @fillterPublisher">
					<!-- Block2 -->
				<div class="block2">
						<div class="block2-pic hov-img0">
							<img src="~/uploads/@Html.DisplayFor(modelItem => item.Poster)" alt="IMG-PRODUCT" style="">
							<a asp-area="" asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"
							class="block2-btn flex-c-m stext-103 cl2 size-102 bg0 bor2 hov-btn1 p-lr-15 trans-04">
								Quick View
							</a>
						</div>

						<div class="block2-txt flex-w flex-t p-t-14">
							<div class="block2-txt-child1 flex-col-l ">
								<a asp-controller="Home" asp-action="Detail" asp-route-id="@item.Id"
								class="stext-104 cl4 hov-cl1 trans-04 js-name-b2 p-b-6">
									@Html.DisplayFor(modelItem => item.Title)
								</a>

								<span class="stext-105 cl3">
									$@Html.DisplayFor(modelItem => item.Price)
								</span>
							</div>
						</div>
					</div>
				</div>
			}
		</div>
	</div>
</section>
